.title {
    background-color: white;
    color: purple;
    font-family: "Copperplate", fantasy;
    text-align: center;
    font-weight: bolder;
    font-size: 96px;
}
.recipe-links {
    color: white;
    font-weight: bold;
    font-size: 44px;
    font-family: helvetica
}
#pesto {
    background-color: orange;
}